<!DOCTYPE html>
<head>
    <title>Index Page</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
</head>
<body>
    <div id="title">
        <h1> Visual Analytics Assignment 2</h1>
    </div>

  <!--CSV INPUT TAG-->
    <div id="textinput">
        <form method=post action="/upload" enctype=multipart/form-data>
            Select the file to Upload: <input type="file" method="POST" name="file" size="80px" value="Enter Dataset">
            <input type="submit" class="button" value="upload">
        </form>
    </div>
</body